@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height:1.5em;
    overflow: hidden;
}
#home {
    height:100vh;
}

.header{
    background-color: #eeebe3;
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(2,1rf);
    height:70px;
}
.logo {
    padding-top:25px;
    padding-left:175px;
}
.logo h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#43464b;
    font-size:2.3rem;
    word-spacing: 0.3em;
}
ul {
    display:flex;
    justify-content: flex-end;
    margin-top:-25px;
    margin-right:40px;
}
li{
    list-style-type: none;
    padding:1px;
    margin-right:80px;
}
.hm {
    color:#047aed;
}
.hm:hover {
    border:0;
}
nav a {
    text-decoration: none;
    color:#333;
}
nav a:hover {
    border-bottom: 1px solid #000;
}
.img {
    position:relative;
}
.img img {
    height:100vh;
    width:100vw;
}

.text {
    position: absolute;
    top: 25%;
    left: 23%;
    transform: translate(-50%, -50%);
    color:beige;
    font-family: italic;
    font-size: 1.8rem;
}
.text h4 {
    font-weight: 200;
}
.text1 {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: SlideInFromLeft 1s ease-in;
}
.text1 h2 {
    font-weight: 300;
    color:#ffffa0;
    font-size: 4.3rem;
    font-family: 'Roberto';
}

.text2 {
    position: absolute;
    top: 49%;
    left: 25%;
    transform: translate(-50%, -50%);
    color:beige;
    line-height: 1.6em;
    font-size: 1.6rem;
    font-family: serif;
    animation: SlideInFromLeft1 1s ease-in;
}

.text2 p {
    font-weight: 300;
}

.btn {
    position: absolute;
    top: 64%;
    left: 23%;
    transform: translate(-50%, -50%);
    color:beige;
    font-size: 1.4rem;
    font-family: italic;
    color:#fff;
    border:1px solid #fff;
    text-decoration: none;
    padding:12px;
    animation: SlideInFromBottom 1s ease-in;
}
.btn:hover {
    cursor: pointer;
    background-color: lightyellow;
    color:#000;
    
}
@keyframes SlideInFromLeft {
    0% {
        transform:translateX(-200%)
    }
    100% {
        transform: translateX(25);
    }
}

@keyframes SlideInFromLeft1 {
    0% {
        transform:translateX(-200%)
    }
    100% {
        transform: translateX(25);
    }
}

@keyframes SlideInFromBottom {
    0% {
        transform:translateY(500%)
    }
    100% {
        transform: translateX(23);
    }
}

@media (max-width:768px) {
    .logo {
        margin-left: -130px;
    }
    .logo h1 {
        font-size: 1.8rem;
    }
    .text {
        position: absolute;
        top: 25%;
        left: 23%;
        transform: translate(-50%, -50%);
        color:beige;
        font-family: italic;
        font-size: 1.8rem;
    }
    .text1 {
        position: absolute;
        top: 33%;
        left: 27%;
        transform: translate(-50%, -50%);
        animation: SlideInFromLeft 1s ease-in;
    }
    .text1 h2 {
        font-weight: 300;
        color:#ffffa0;
        font-size: 3.8rem;
        font-family: 'Roberto';
    }
    
    .text2 {
        position: absolute;
        top: 44%;
        left: 35%;
        transform: translate(-50%, -50%);
        color:beige;
        line-height: 1.6em;
        font-size: 1.3rem;
        font-family: serif;
        animation: SlideInFromLeft1 1s ease-in;
    }
    .btn {
        position: absolute;
        top: 57%;
        left: 23%;
        transform: translate(-50%, -50%);
        color:beige;
        font-size: 1.4rem;
        font-family: italic;
        color:#fff;
        border:1px solid #fff;
        text-decoration: none;
        padding:12px;
        animation: SlideInFromBottom 1s ease-in;
    }
}
@media (width:1024px) {
    .text2 {
        position: absolute;
        top: 48%;
        left: 30%;
        transform: translate(-50%, -50%);
        color:beige;
        line-height: 1.6em;
        font-size: 1.3rem;
        font-family: serif;
        animation: SlideInFromLeft1 1s ease-in;
    }
}
@media (max-width:500px) {
    #home {
        overflow: hidden;
    }
    .logo h1 {
        margin-left: 65px;
        font-size: 1.7rem;
        margin-top:-10px;
    }
    ul {
        display:flex;
        justify-content: flex-end;
        margin-top:8px;
        margin-left:35px;
    }
    .nav-links ul {
        display:inline-flex;
        justify-content: center;
        padding:1px;
    }
    li{
        list-style-type: none;
        margin-right:90px;
        font-size: 16px;
    }
    .text {
        position: absolute;
        top: 18%;
        left: 23%;
        transform: translate(-50%, -50%);
        color:beige;
        font-family: italic;
        font-size: 1.8rem;
    }
    .text1 {
        position: absolute;
        top: 27%;
        left: 33%;
        transform: translate(-50%, -50%);
        animation: SlideInFromLeft 1s ease-in;
    }
    .text1 h2 {
        font-size: 2.5rem;
    }
    .btn {
        position: absolute;
        top: 64%;
        left: 23%;
        transform: translate(-50%, -50%);
        color:beige;
        font-size: 1.4rem;
        font-family: italic;
        color:#fff;
        border:1px solid #fff;
        text-decoration: none;
        padding:12px;
        animation: SlideInFromBottom 1s ease-in;
    }
}
@media(min-width:321px) and (max-width:360px) {
    .logo h1 {
        margin-left: 55px;
        font-size: 1.7rem;
        margin-top:-10px;
    }
    .image img {
        margin-left:10px;
        width:300px;
    }
    li {
        margin-right:60px ;
    }
    .text {
        position: absolute;
        top: 12%;
        left: 23%;
        transform: translate(-50%, -50%);
        color:beige;
        font-family: italic;
        font-size: 1.8rem;
    }
    .text1 {
        position: absolute;
        top: 22%;
        left: 33%;
        transform: translate(-50%, -50%);
        animation: SlideInFromLeft 1s ease-in;
    }
    .text1 h2 {
        font-size: 2.3rem;
    }
    .text2 {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        color:beige;
        line-height: 1.6em;
        font-size: 1.6rem;
        font-family: serif;
        animation: SlideInFromLeft1 1s ease-in;
    }
    .btn {
        position: absolute;
        top: 80%;
        left: 23%;
        transform: translate(-50%, -50%);
        color:beige;
        font-size: 1.4rem;
        font-family: italic;
        color:#fff;
        border:1px solid #fff;
        text-decoration: none;
        padding:12px;
        animation: SlideInFromBottom 1s ease-in;
    }
}
    @media(min-width:361px) and (max-width:375px) {
        .logo h1 {
            margin-left: 50px;
            font-size: 1.7rem;
            margin-top:-10px;
        }
        li {
            margin-right: 80px;
        }
        .text2 {
            position: absolute;
            top: 52%;
            left: 35%;
            transform: translate(-50%, -50%);
            color:beige;
            line-height: 1.6em;
            font-size: 1.6rem;
            font-family: serif;
            animation: SlideInFromLeft1 1s ease-in;
        }
        .btn {
            position: absolute;
            top: 80%;
            left: 23%;
            transform: translate(-50%, -50%);
            color:beige;
            font-size: 1.4rem;
            font-family: italic;
            color:#fff;
            border:1px solid #fff;
            text-decoration: none;
            padding:12px;
            animation: SlideInFromBottom 1s ease-in;
        }
}
@media (width:320px) {
    .logo h1{
        margin-left:40px;
        font-size:1.5rem;
    }
    ul {
        display:flex;
        justify-content: flex-end;
        margin-top:8px;
        margin-left:8px;
    }
    .nav-links ul {
        display:flex;
        justify-content: center;
        font-size:15px;
    }
    li {
        margin-right: 65px;
    }
    .text {
        position: absolute;
        top: 12%;
        left: 27%;
        transform: translate(-50%, -50%);
        color:beige;
        font-family: italic;
        font-size: 1.8rem;
    }
    .text1 {
        position: absolute;
        top: 22%;
        left: 33%;
        transform: translate(-50%, -50%);
        animation: SlideInFromLeft 1s ease-in;
    }
    .text1 h2{
        font-size:2rem;
    }
    .btn {
        position: absolute;
        top: 70%;
        left: 23%;
        transform: translate(-50%, -50%);
        color:beige;
        font-size: 1.4rem;
        font-family: italic;
        color:#fff;
        border:1px solid #fff;
        text-decoration: none;
        padding:12px;
        animation: SlideInFromBottom 1s ease-in;
    }
}
